@use "../../styles/partials/variables";
@use "../../styles/partials/mixin";

.videos {
  padding: variables.$pm-base * 4;
  margin-right: auto;

  @include mixin.tablet {
    padding: variables.$pm-base * 6 variables.$pm-base * 8;
    width: 50%;
  }

  @include mixin.desktop {
    width: 34%;
    padding-top: variables.$pm-base * 8;
    padding-left: variables.$pm-base * 6;
    border-left: 1px solid variables.$s-mercury;
  }

  &__header {
    @include mixin.section-header;
    color: variables.$p-silver;
    margin-bottom: variables.$pm-base * 2;

    @include mixin.desktop {
      margin-bottom: 0;
    }
  }
}
