@use "../../styles/partials/variables";
@use "../../styles/partials/mixin";

.video-list {
  @include mixin.flexbox(row, space-between, flex-start);
  padding-top: variables.$pm-base * 2.5;

  &-image {
    width: 33%;
    height: 18vw;
    min-width: 100px;
    max-width: 155px;
    min-height: 60px;
    max-height: 92px;
    object-fit: cover;
    border-radius: 4px;
  }

  &-info {
    width: 77%;
    @include mixin.mobil-body-copy;
    @include mixin.flexbox(column, flex-start, space-between);
    margin-left: variables.$pm-base * 4;
  }

  &-title {
    font-weight: 700;
    margin-bottom: variables.$pm-base * 2;
  }
}
