@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.main-description {
  padding: variables.$pm-base * 4;
  // padding-top: variables.$pm-base * 6;  //guidline does not match with mockup
  @include mixin.tablet {
    padding: variables.$pm-base * 8;
    padding-top: variables.$pm-base * 6;
  }

  @include mixin.desktop {
    padding-top: variables.$pm-base * 9;
    padding-left: variables.$pm-base * 32;
    padding-right: 0;
  }

  &-title {
    @include mixin.tablet {
      @include mixin.page-header;
    }
  }

  &-content {
    @include mixin.flexbox(row, space-between, space-between);
    margin: variables.$pm-base * 4 0;
    padding-top: variables.$pm-base * 4;
    padding-bottom: variables.$pm-base * 2;
    border-top: 1px solid variables.$s-mercury;
    border-bottom: 1px solid variables.$s-mercury;
    @include mixin.mobil-body-copy;

    @include mixin.tablet {
      margin: 0;
      padding-top: variables.$pm-base * 2;
      @include mixin.body-copy;
      border-top: none;
    }
  }

  &-info-container {
    @include mixin.tablet {
      @include mixin.flexbox(row, space-between, center);
    }
  }

  &-info-channel {
    font-weight: 700;
    margin-bottom: variables.$pm-base * 2;

    @include mixin.tablet {
      margin: 0;
      margin-right: variables.$pm-base * 12;
    }
  }

  &-info-time {
    color: variables.$p-silver;
  }

  &-social-container {
    padding-right: variables.$pm-base * 12;

    & img {
      vertical-align: middle;
    }

    @include mixin.tablet {
      padding-right: 0;
      @include mixin.flexbox(row, space-between, center);
    }
    @include mixin.desktop {
      margin-right: variables.$pm-base * 4;
    }
  }

  &-popularity {
    margin-bottom: variables.$pm-base * 2;
    @include mixin.tablet {
      margin-bottom: 0;
      margin-right: variables.$pm-base * 4;
    }
  }

  &-views,
  &-likes {
    margin-left: variables.$pm-base * 2;
    color: variables.$p-silver;
  }

  &-text {
    @include mixin.mobil-body-copy;

    @include mixin.tablet {
      @include mixin.body-copy;
      margin-top: variables.$pm-base * 6;
    }

    @include mixin.desktop {
      margin-right: variables.$pm-base * 4;
    }
  }
}
