@use "./variables";
@use "./mixin";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", serif;
  color: variables.$p-black;
  background-color: variables.$p-white;
}

a {
  text-decoration: none;
  color: variables.$p-black;
}

button {
  height: 2.5rem;
  padding: 0 variables.$pm-base * 8;
  border-radius: 4px;
  border: none;
  background-color: variables.$p-blue;
  @include mixin.labels;

  &:hover {
    cursor: pointer;
    background-color: variables.$s-d-blue;
  }
}

label {
  @include mixin.section-header;
  color: variables.$p-silver;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid variables.$s-mercury;
  background-color: variables.$s-alabaster;
  min-width: 15rem;
  max-width: 100%;
  min-height: 2.25rem;
  padding: 0.75rem;

  @include mixin.tablet {
    min-height: 2.5rem;
    padding: 1rem;
  }

  &::placeholder {
    @include mixin.mobil-body-copy;
    color: variables.$p-black;
  }

  &:focus {
    outline: none;
    border: 2px solid variables.$p-blue;
  }

  &:focus:invalid {
    outline: none;
    border: 1px solid #d22d2d;
  }
}
