@use "../../styles/partials/variables";
@use "../../styles/partials/mixin";

.main {
  @include mixin.flexbox(column, center, center);
  width: 100%;

  @include mixin.desktop {
    @include mixin.flexbox(row, center, flex-start);
    flex-wrap: wrap;

    &__video-section {
      width: 100%;
      background-color: red;
    }

    &__video-description {
      width: 65%;
    }

    &__videolist {
      width: 35%;
    }
  }

  &__video-section {
    width: 100%;
    background-color: variables.$s-d-black;
  }

  &__video-player {
    width: 100%;
    height: 56.25vw;

    @include mixin.tablet {
      width: 90vw;
      height: 50.625vw;
      margin: 0 auto;
      @include mixin.flexbox(row, center, center);
    }

    @include mixin.desktop {
      width: 65vw;
      height: 36.5625vw;
    }
  }
}
