@use "../../styles/partials/variables";
@use "../../styles/partials/mixin";

.main {
  @include mixin.flexbox(column, center, center);
  width: 100%;

  @include mixin.desktop {
    @include mixin.flexbox(row, center, flex-start);
    flex-wrap: wrap;

    &-video-section {
      width: 100%;
      background-color: red;
    }

    &-video-description {
      width: 65%;
    }

    &-videolist {
      width: 35%;
    }
  }

  &-video-section {
    width: 100%;
    background-color: variables.$s-d-black;
  }

  &-video-player {
    margin: 0 auto;
    @include mixin.flexbox(row, center, center);
  }
}
