@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.header {
  width: 100%;
  @include mixin.flexbox(column, center, center);
  background-color: variables.$p-white;
  padding: variables.$pm-base * 4 0;

  @include mixin.tablet {
    padding: variables.$pm-base * 4 variables.$pm-base * 8;
    @include mixin.flexbox(row, space-between, center);
  }

  @include mixin.desktop {
    padding: variables.$pm-base * 4 variables.$pm-base * 32;
  }

  &__link {
    width: 100%;

    &--logo {
      @include mixin.flexbox(row, center, center);

      @include mixin.tablet {
        width: 20%;
      }

      @include mixin.tablet {
        width: 10%;
      }
    }

    &--upload {
      @include mixin.tablet {
        width: 30%;
      }
    }
  }

  &__logo {
    max-width: 7.5rem;
    max-height: 1.5625rem;
  }

  &__functions {
    width: 100%;
    padding: variables.$pm-base * 4;
    padding-bottom: 0;
    @include mixin.flexbox(row, space-between, center);
    flex-wrap: wrap;

    @include mixin.tablet {
      width: 68%;
      padding: 0;
      @include mixin.flexbox(row, space-between, center);
    }

    @include mixin.desktop {
      width: 50%;
    }
  }

  &__box {
    @include mixin.avatar-container;
    @include mixin.tablet {
      max-width: 2.5rem;
      max-height: 2.5rem;
    }
  }
  &__avatar {
    @include mixin.avatar;
    height: 100%;
  }
}

.search {
  width: 80%;
  position: relative;

  @include mixin.tablet {
    width: 50%;
  }

  &__icon {
    position: absolute;
    top: 30%;
    left: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    padding: 0.5rem;
    padding-left: 2rem;
    width: 100%;

    @include mixin.tablet {
      padding: 0.75rem;
      padding-left: 2rem;
    }

    &::placeholder {
      position: absolute;
      left: variables.$pm-base * 8;
    }
  }
}

.upload-btn {
  width: 100%;
  border-radius: 4px;
  height: 2.5rem;
  border: 1px solid variables.$s-mercury;
  background-color: variables.$p-blue;
  background-image: url("../../assets/icons/upload.svg");
  background-position: 0.5rem 50%;
  background-repeat: no-repeat;
  @include mixin.labels;
  color: variables.$p-white;
  margin-top: variables.$pm-base * 4;
  @include mixin.flexbox(row, center, center);

  @include mixin.tablet {
    margin-top: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: variables.$s-d-blue;
  }

  &__text {
    width: 95%;
    text-align: center;
  }

  &__input {
    //  @extend input;
    visibility: hidden;
    width: 1px;
    min-width: 1px;
    padding: 0;
  }
}
