@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.header {
  width: 100%;
  @include mixin.flexbox(column, center, center);
  background-color: variables.$p-white;
  padding: variables.$pm-base * 4 0;

  @include mixin.tablet {
    padding: variables.$pm-base * 6 variables.$pm-base * 8;
    @include mixin.flexbox(row, space-between, center);
  }

  &-logo {
    max-width: 7.5rem;
    max-height: 1.5625rem;

    @include mixin.tablet {
      width: 20%;
    }
  }

  &-functions {
    width: 100%;
    padding: variables.$pm-base * 4;
    padding-bottom: 0;
    @include mixin.flexbox(row, space-between, center);
    flex-wrap: wrap;

    @include mixin.tablet {
      width: 68%;
      padding: 0;
      @include mixin.flexbox(row, space-between, center);
    }
  }

  &-search {
    width: 80%;
    position: relative;
    padding-right: 4rem;

    @include mixin.tablet {
      width: 33%;
    }

    &-icon {
      position: absolute;
      top: 30%;
      left: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    &-input {
      padding: 0.5rem;
      width: 100%;

      @include mixin.tablet {
        padding: 0.75rem;
      }

      &::placeholder {
        position: absolute;
        left: variables.$pm-base * 8;
      }
    }
  }

  &-avatar {
    @include mixin.avatar;

    @include mixin.tablet {
      order: 2;
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &-upload-label {
    width: 100%;
    border-radius: 4px;
    height: 2.5rem;
    border: 1px solid variables.$s-mercury;
    background-color: variables.$p-blue;
    background-image: url("../../assets/icons/upload.svg");
    background-position: 0.5rem 50%;
    background-repeat: no-repeat;
    @include mixin.labels;
    color: variables.$p-white;
    margin-top: variables.$pm-base * 4;
    @include mixin.flexbox(row, center, center);

    &:hover {
      cursor: pointer;
      background-color: variables.$s-d-blue;
    }

    @include mixin.tablet {
      width: 30%;
      margin-top: 0;
    }
  }

  &-upload-text {
    width: 95%;
    text-align: center;
  }

  &-upload-input {
    visibility: hidden;
    width: 1px;
    min-width: 1px;
    padding: 0;
  }
}
