@use "../../styles/partials/variables";
@use "../../styles/partials/mixin";

.upload {
  width: 100%;
  background-color: variables.$p-blue;
  padding: variables.$pm-base * 2 0;
  border-radius: 4px;
  position: relative;
  @include mixin.flexbox(row, center, center);

  @include mixin.tablet {
    width: 30%;
  }

  &-input {
    visibility: hidden;
  }

  &-icon {
    position: absolute;
    left: 1%;
    top: auto;
  }

  &-text {
    @include mixin.labels;
    color: variables.$p-white;
    position: absolute;
    left: 43%;

    @include mixin.tablet {
      left: 35%;
    }
  }
}
