@use "../../styles/partials/variables";
@use "../../styles/partials/mixin";

.upload {
  width: 100%;
  background-color: variables.$p-blue;
  padding: variables.$pm-base * 2 0;
  border-radius: 4px;
  text-align: center;
  position: relative;

  &-icon {
    position: absolute;
    left: 0.25rem;
    top: auto;
  }

  &-text {
    @include mixin.mobil-labels;
    color: variables.$p-white;
  }
}
