@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.comments {
  &-avatar {
    @include mixin.avatar;

    @include mixin.tablet {
      max-width: 2.5rem;
      max-height: 2.5rem;
    }
  }

  &-card {
    @include mixin.flexbox(row, flex-start, flex-start);
    padding: variables.$pm-base * 4 0;
    border-bottom: 1px solid variables.$s-mercury;

    @include mixin.tablet {
      padding: variables.$pm-base * 6 0;
    }

    @include mixin.desktop {
      padding-left: variables.$pm-base * 4;
      &:last-of-type {
        border-bottom: none;
      }
    }

    &:nth-of-type(1) {
      border-top: 1px solid variables.$s-mercury;
    }
  }

  &-content {
    width: 95%; /////
    @include mixin.mobil-body-copy;
    margin-left: variables.$pm-base * 4;

    @include mixin.tablet {
      @include mixin.body-copy;
      margin-left: variables.$pm-base * 6;
    }

    @include mixin.desktop {
      margin-right: variables.$pm-base * 4;
      margin-left: variables.$pm-base * 8;
    }
  }

  &-header {
    @include mixin.flexbox(row, space-between, center);
    width: 100%; /////
  }

  &-author {
    font-weight: 700;
  }

  &-date {
    color: variables.$p-silver;
  }
}
