@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.main-comments {
  padding: 0 variables.$pm-base * 4;
  @include mixin.mobil-body-copy;

  @include mixin.tablet {
    @include mixin.body-copy;
    padding: 0 variables.$pm-base * 8;
  }

  @include mixin.desktop {
    padding-right: 0;
    padding-top: variables.$pm-base * 2;
    padding-left: variables.$pm-base * 32;
  }

  &-count {
    font-weight: 700;
    @include mixin.mobil-subheader;

    @include mixin.tablet {
      @include mixin.subheader;
    }
  }

  &-container {
    margin-top: variables.$pm-base * 4;
    padding-bottom: variables.$pm-base * 4;
    width: 100%;
    @include mixin.flexbox(row, space-between, flex-start);

    @include mixin.tablet {
      padding-bottom: variables.$pm-base * 6;
    }

    @include mixin.desktop {
      margin-left: variables.$pm-base * 4;
    }
  }

  &-avatar {
    @include mixin.avatar;
    margin-top: variables.$pm-base * 6;
    margin-right: variables.$pm-base * 4;

    @include mixin.tablet {
      margin-right: variables.$pm-base * 6;
      max-width: 2.5rem;
      max-height: 2.5rem;
    }

    @include mixin.desktop {
      margin-right: variables.$pm-base * 8;
    }
  }
}
